/* Reset de estilos y estilos básicos */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #ffcc33;
  color: #000;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
input {
  width: 100px;
  height: 40px;
  font-size: 12px;
}
input[type="button"] {
  background-color: #04487d;
  color: #ffffff;
}
main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px auto;
}
#div_visualizar {
  width: 45%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

#div_visualizar input:not(#b_v_modificar, #id_visualizar),
textarea {
  width: 90%;
  display: block;
  margin: 10px auto;
}
#div_visualizar > input [type="button"] {
  width: 20%;
}
/* #div_visualizar,#div_filtrar,#div_listar{
    background-color: white;
    border-radius: 20px;
    padding: 20px;  
} */

#div_visualizar,
#div_listar {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 40%;
}
#id_tabla {
  width: 100%;
}

textarea {
  font-size: 20px;
  border: none;
  font-family: "Arial", sans-serif;

}
#div_visualizar > input[type="text"] {
  border: none;
  font-size: 20px;
}
#b_v_modificar {
  display: none;
  width: 90%;
  margin: 10px 25.5px; /* para que quede como el boton de crear */
}
#t_buscar {
  width: 50%;
}
#id_visualizar {
  display: none;
  width: 45%;
}

/*  #div_filtrar {
    display:none;
 } */

img {
  height: 40px;
  width: 40px;
}
#div_buscar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

td {
  padding-right: 8px;
  text-align: left;
}
