/* Reset de estilos y estilos básicos */
.color-primary-0 { color: #F0B400 }	/* Main Primary color */
.color-primary-1 { color: #FFCC33 }
.color-primary-2 { color: #FFBF00 }
.color-primary-3 { color: #C29200 }
.color-primary-4 { color: #946F00 }

.color-secondary-1-0 { color: #4A08A3 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #7636CB }
.color-secondary-1-2 { color: #600FCD }
.color-secondary-1-3 { color: #3C0584 }
.color-secondary-1-4 { color: #2D0365 }

.color-secondary-2-0 { color: #065A9B }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #3185C5 }
.color-secondary-2-2 { color: #0B76C8 }
.color-secondary-2-3 { color: #04487D }
.color-secondary-2-4 { color: #023760 }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #ffcc33;
  color: #000;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
input {
  width: clamp(70px,2vw,4vw);
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
}
input[type="button"] {
  background-color: #04487d;
  color: #ffffff;
  font-weight: bolder;
}
main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px auto;
}
#div_visualizar,
#div_listar  {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

#div_visualizar input:not(#b_v_modificar, #id_visualizar),
textarea {
  width: 90%;
  display: block;
  margin: 20px auto;
}

#id_tabla {
  width: 90%;
  display: block;
  margin: 20px auto;
}

textarea {
  font-size: 20px;
  border: none;
  font-family: "Arial", sans-serif;
border-radius: 5px;
}
#div_visualizar > input[type="text"] {
  border: none;
  font-size: 20px;
}
#b_v_modificar {
  display: none;
  width: 90%;
  margin: 20px auto;
}
#t_buscar {
  width: 100%;
  margin: auto 10px;
  text-indent: 10px;
}
#id_visualizar {
  display: none;
  width: 45%;
}

img {
  height: 40px;
  width: 40px;
}
#div_buscar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

td {
  padding-right: 8px;
  text-align: left;
  font-size: clamp(12px,3vw,16px);
}
input[value='Borrar']{
  background-color: #4A08A3;
  border-radius: 20px;
  font-size: clamp(1vw,3.5vw,14px);
}
#div_listar input[value='Modificar']{
  border-radius: 20px;
  font-size: clamp(1vw,3.5vw,14px);
}
input[value='Borrar']:hover{
  background-color: #7636CB;
}
input[value='Modificar']:hover, #div_visualizar input[type='button']:hover{
  background-color: #065A9B;
}
#div_visualizar{
  min-width: 45%;
  
}
